# Copyright (c) 2009-2012, 2014-2015, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

on early-fs
    write /proc/sys/kernel/sched_lib_name "recovery,magiskboot,Updater,updater"
    write /proc/sys/kernel/sched_lib_mask_force 255

on fs
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw
    chown system system /sys/bus/i2c/drivers/aw8697_haptic/2-005a/f0_save
    chown system system /sys/bus/i2c/drivers/aw8697_haptic/2-005a/osc_save
    chown system system /sys/bus/i2c/drivers/aw8697_haptic/3-005a/osc_save
    chown system system /sys/bus/i2c/drivers/aw8697_haptic/2-005a/custom_wave
    chmod 0666  /sys/bus/i2c/drivers/aw8697_haptic/2-005a/custom_wave
    chown system system /sys/bus/i2c/drivers/aw8697_haptic/2-005a/custom_wave
    chmod 0666  /sys/bus/i2c/drivers/aw8697_haptic/2-005a/custom_wave
    chown system system /sys/bus/i2c/drivers/aw8697_haptic/3-005a/custom_wave
    chmod 0666  /sys/bus/i2c/drivers/aw8697_haptic/3-005a/custom_wave
    chmod 0666 /sys/class/qcom-haptics/lra_calibration
    chown system system /sys/bus/i2c/drivers/aw8697_haptic/0-005a/custom_wave
    chmod 0666  /sys/bus/i2c/drivers/aw8697_haptic/0-005a/custom_wave
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    chmod 0660 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion
    insmod /vendor/lib/modules/exfat_miui.ko
    install_keyring

on init
    start vendor.qseecomd

on boot
    start health-hal-2-1
    start vendor.qti.vibrator
    setprop sys.usb.config adb

on property:vendor.sys.listeners.registered=true
    start keymaster-4-0
    start gatekeeper-1-0

service vendor.qseecomd /vendor/bin/qseecomd
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-0 /vendor/bin/hw/android.hardware.keymaster@4.0-service-qti
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service-qti
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service vendor.qti.vibrator /vendor/bin/hw/vendor.qti.hardware.vibrator.service
    class hal
    user system
    group system input
    seclabel u:r:recovery:s0
